.logo {
	font-size: 25px;
	font-weight: 800;
	// pointer-events: none;
	position: relative;
	animation: drop 1s linear, color 5s infinite linear;
	cursor: pointer;
}

.homeLogo {
	font-size: 80px;
}

@keyframes drop {
	0% {
		color: $primary;
		opacity: 0;
		transform: translateY(-40px);
	}
	50% {
		color: $secondary;
		opacity: 0.5;
		transform: translateY(-10px);
	}
	70% {
		color: $secondary;
		opacity: 0.75;
		transform: translateY(5px);
	}
	100% {
		color: $primary;
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes color {
	0% {
		color: $primary;
	}
	50% {
		color: $secondary;
	}
	100% {
		color: $primary;
	}
}

/* @keyframes App-logo-color {
	0% {
		color: var(--red);
	}
	12% {
		color: var(--yellow);
	}
	25% {
		color: var(--green);
	}
	37% {
		color: var(--blue);
	}
	50% {
		color: var(--purple);
	}
	67% {
		color: var(--blue);
	}
	75% {
		color: var(--green);
	}
	87% {
		color: var(--yellow);
	}
	100% {
		color: var(--red);
	}
} 
*/
