/* Color variables */
$red: rgb(222, 0, 0);
$yellow: rgb(222, 215, 0);
$green: rgb(0, 222, 89);
$blue: rgb(0, 107, 222);
$purple: rgb(85, 0, 222);

$primary: #1db954;
$light-primary: #b2ffc7;
$dark-primary: #214415;
$secondary: #29487d;
$accent: #ffdf00;
$shadowShade: #f8f8f8;
$greyText: #8e8ea0;

/* Font size variables */
$text: 1rem;
$heading: 1.3rem;
$subheading: 1.15rem;
$input: 1rem;
